

  <!--Form with header-->
  <mdb-card>

    <!--Header-->
    <div class="header pt-3" style="background-color: lightblue">

      <div class="row d-flex justify-content-start">
        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Reason To Reject</h3>
      </div>

    </div>
    <!--Header-->

    <mdb-card-body class="mx-4 mt-4">

      <!--Body-->
      <form #reasonToReject="ngForm" (ngSubmit)="onSubmit(reasonToReject)">

        <mat-form-field class="email-form">
          <input type="text"
          matInput
          class="email-full-width"
          name="message"
          [(ngModel)]="message" 
		       #messageTest="ngModel" placeholder="Reason To Reject" required>
          <mat-error *ngIf="messageTest.errors?.required" class="help-block font-weight-bold" style=" font-size: 12px; color: maroon">
            Please enter a reason to reject
        </mat-error>
        </mat-form-field>
        <br>

      <div class="text-center mb-4" style="margin-top: 20px">
        <input type="submit" mdbBtn color="danger" block="true" class="z-depth-2" value="Submit">
        <input type="button" mdbBtn color="info" block="true" class="z-depth-2" value="Cancel" (click)="onClose()">
      </div>
     
    </form>
    </mdb-card-body>

  </mdb-card>
  <!--/Form with header-->

