

  <!--Form with header-->
  <mdb-card>

    <!--Header-->
    <div class="header pt-3" style="background-color: lightblue">

      <div class="row d-flex justify-content-start">
        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Job Expirences</h3>
      </div>

    </div>
    <!--Header-->

    <mdb-card-body class="mx-4 mt-4">

      <!--Body-->
      <form #reasonToReject="ngForm" (ngSubmit)="onSubmit(reasonToReject)">

        <mat-form-field class="col-6">
          <input type="text" 
          matInput
          placeholder="Company Name"
          [ngModel]="job?.companyName"
          (ngModelChange)="job.companyName = $event"
          name="companyName"
          #companyName="ngModel" required>

          <mat-error *ngIf="companyName?.touched && companyName.errors?.required" class="help-block font-weight-bold" style=" font-size: 12px; color: maroon">
            Please enter a company name
              <!-- have to work on that  -->
            <!-- (only lowercase allowed) -->
        </mat-error>
        </mat-form-field>
     
        <br>

        
        <br>
        <mat-form-field class="col-4">
          <input matInput [matDatepicker]="picker" placeholder="Started On" 
          [ngModel]="job?.startedOn" 
          (ngModelChange)="job.startedOn = $event"
          name="startedOn" 
          #startedOn="ngModel" class="col-4" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startedOn"></mat-datepicker>
          <mat-error *ngIf="startedOn?.touched && startedOn.errors?.required" class="help-block font-weight-bold" style=" font-size: 12px; color: maroon">
            Please enter the joinning date of the above company
          </mat-error>
        </mat-form-field>
        <span>
        <mat-form-field class="col-4 col-offset-2">
          <input matInput [matDatepicker]="picker1" placeholder="Leaving Date" [disabled]=disable
          [ngModel]="job?.till" 
          (ngModelChange)="job.till = $event"
          name="till" 
          #till="ngModel" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="till"></mat-datepicker>
          <mat-error *ngIf="till?.touched && till.errors?.required" class="help-block font-weight-bold" style=" font-size: 12px; color: maroon">
            Please enter the leaving date of the above company
          </mat-error>
        </mat-form-field>
      </span>
      <br>
      <br>
        <mat-checkbox (change)="selected($event)">Currently Working</mat-checkbox>
        <br>
        <br>
      <mat-form-field class="col-6">
        <input type="text" matInput 
        name="desgnation"
        [ngModel]="job?.desgnation"
        (ngModelChange)="job.desgnation = $event"
        #desgnation="ngModel" 
        placeholder="Designation">
      
      </mat-form-field>
      <br>
      <mat-form-field class="col-12" >
        <textarea type="text" matInput 
        name="currentResponsibilites"
        [ngModel]="job?.currentResponsibilites"
        (ngModelChange)="job.currentResponsibilites = $event"
        #currentResponsibilites="ngModel" 
        placeholder="current Responsibilites">
        </textarea>
      </mat-form-field>

      <mat-form-field class="col-12">
        <input type="text" matInput 
        name="projectLinks"
        [ngModel]="job?.projectLinks"
        (ngModelChange)="job.projectLinks = $event"
        #projectLinks="ngModel" 
        placeholder="Project Link">
      
      </mat-form-field>
      
      <mat-form-field class="col-12">
        <input type="text" matInput 
        name=" otherWorkLinks"
        [ngModel]="job?.otherWorkLinks"
        (ngModelChange)="job.otherWorkLinks = $event"
        #projectLinks="ngModel" 
        placeholder="Other Project Link">
      
      </mat-form-field>
     
      <mat-form-field class="col-12">
        <input type="text" matInput 
        name=" otherUSB"
        [ngModel]="job?.otherUSB"
        (ngModelChange)="job.otherUSB = $event"
        #projectLinks="ngModel" 
        placeholder="USB">
      
      </mat-form-field>
      
      <button mat-button> submit  </button>
    </form>
    </mdb-card-body>
    <!-- {{reasonToReject.value | json}} -->
  </mdb-card>
  <!--/Form with header-->


