<div style="margin-top:50px">
    <button mat-mini-fab style="color: darkslategrey;  margin-bottom: 5px" matTooltip="Add Engineers" [routerLink]="['/owner/registerEngineer']" > <mat-icon> add </mat-icon>  </button>
    <button mat-mini-fab style="background-color: darkslategrey;float: right; margin-left: 10px; margin-bottom: 10px" matTooltip="See Deleted Engineers" [routerLink]="['/owner/deletedEngineers']" > <mat-icon> voice_over_off</mat-icon>  </button>  
    <!--Form with header-->
        
        <!--Header-->
        <div class="header pt-10 " style="background-color: lightblue">
    
          <div class="row d-flex justify-content-start">
            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Engineer List</h3>
          </div>
    
        </div>
        
        
            
    <p-dataView [value]="listOfEngineers" [paginator]="true" [rows]="3" [sortField]="sortField" [sortOrder]="sortOrder" #dv filterBy="technologiesKnown">
      <p-header>
         
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                  (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}" style="margin-right: 5px"></p-dropdown>
           
    
            <br>
            <br>
           
              <input type="search" class="form-control" pInputText placeholder="Search by technology" (keyup)="dv.filter($event.target.value)">
          
              
          <br>
    
                  <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </p-header>
      <p-footer>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </p-footer>
    
      <ng-template let-engineer pTemplate="listItem" style="margin-bottom: 20px;">
          <div>
            
            <mat-card class="example-card" >
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{engineer.firstName }} {{engineer.lastName }} </mat-card-title>
                <mat-card-subtitle> <p> Expierece: {{engineer.experience }} </p> 
                 Rating:   <ngb-rating [rate]="engineer.rating" max="5"></ngb-rating> </mat-card-subtitle>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
               <div class="container col-6">
                 <div >
                  <strong> Technologies Known:  </strong> 
                </div>
                  <div *ngFor="let t of engineer.technologiesKnown"> {{t}} </div> 
                 <strong> Budget:  </strong> {{engineer.budget}}
               </div>
                
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button   style="float:right; background-color: cornflowerblue; margin-top: -10px" (click)="engineerDetails(engineer._id)">Details</button>             
                  <button mat-button (click)="engineerHire(engineer._id)"  [hidden]="engineer.hiredBy" style="float:right; color: rgb(18, 73, 18); background-color: rgb(193, 240, 193); margin-top: -10px" > Hier </button>
                  <button mat-button *ngIf="engineer.showUnhired" style="float:right; background-color: rgb(114, 128, 153); margin-top: -10px" (click)="unhireEngineer(engineer._id)" > Unhire </button>
                  <button mat-button  style="color: darkred; background-color: lightcoral; float: right; margin-top:-10px; margin-left:-1px" (click)="deleteEngineer(engineer._id) " [hidden]="engineer.hiredBy"> <mat-icon>person_add_disabled</mat-icon>  Delete</button>
                <button mat-button style="color: #023c66; background-color:lightblue; float: right; margin-top:-10px"  (click)="editEngineer(engineer._id)">  <mat-icon>edit</mat-icon> Edit</button>
             
              </mat-card-actions>
            </mat-card> 
          </div>
          <!-- <div>
           
        </div> -->
    
      </ng-template>
    
      <ng-template let-engineer pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
          <p-panel [header]="engineer.firstName" [style]="{'text-align':'center'}">
              <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60"> -->
              <div class="car-detail">
                  <strong> TechnologiesKnown </strong>
                  <div *ngFor="let t of engineer.technologiesKnown ">  {{t}} </div>
                 <strong>  Expirence: </strong>
                 {{engineer.experience}} yrs</div>
              <hr class="ui-widget-content" style="border-top:0">
              <button mat-button (click)="engineerHire(engineer._id)"  [hidden]="engineer.hiredBy" style="float:right; color: rgb(18, 73, 18); background-color: rgb(193, 240, 193); margin-top: -10px" > Hier </button>
              <button mat-button *ngIf="engineer.showUnhired" style="float:right; background-color: rgb(114, 128, 153); margin-top: -10px" (click)="unhireEngineer(engineer._id)" > Unhire </button>
              <button mat-button style="color: #023c66; "  (click)="editEngineer(engineer._id) ">  <mat-icon>edit</mat-icon> Edit</button>
              <button mat-button  style="color: darkred" (click)="deleteEngineer(engineer._id)" [hidden]="engineer.hiredBy"> <mat-icon>person_add_disabled</mat-icon>  Delete</button>
              <button mat-button  (click)="engineerDetails(engineer._id)">Details</button>
          </p-panel>
      </div>
      </ng-template>
    </p-dataView>
    </div>