.form-simple .font-small {
    font-size: 0.8rem; }
  
    .email-form {
        min-width: 250px;
        max-width: 500px;
        width: 100%;
      }
      
      .email-full-width {
        width: 100%;
      }